@{
    ViewData["Title"] = "Index";
}

    <body>
        <!-- Build the menue bar -->
        
            <div id="topic">
                <div>
                    <h1>Go Hiking</h1>
                    <h2>Do you try to find the best location for your next trip? </h2>
                    <h2>Before deciding where to hike or where to build a datacenter for a company, users can access our site and do a search where they will access the history of storms in the desired region over the past 20 years.</h2>
                </div>
            </div>

            <div id="content">
                <!-- Slideshow container -->
               

                    <!-- Full-width images with number and caption text -->
                 
                        <img src="~/img/img1.jpg" style="width:100%">
                        <div class="slideInfo">
                            The occurrence of storms and other significant weather phenomena having sufficient intensity
                            to cause loss of life, injuries, significant property damage.
                        </div>
               


                
            </div>
       


        <!--JS link-->
        <script src="~/js/site.js"></script>
    </body>
