@{
    ViewData["Title"] = "Index";
}

    <body>
        <!-- Build the menu bar -->
        
            <div id="topic">
                <div>
                    <h1>Go Hiking APP</h1>
                    <h2>Are you looking for a nice place to go hiking? </h2>
                    <h2></h2>
                </div>
            </div>

            <div id="content">
                <!-- Slideshow container -->
               

                    <!-- Full-width images with number and caption text -->
                 
                        <img src="~/img/img1.jpg" style="width:100%">
                        <div class="slideInfo">
                            Check the Weather Information of each Park before you go! The occurrence of storms and other significant weather phenomena may
                            cause injuries, or even death depending on how intense they become.
                        </div>
               


                
            </div>
       


        <!--JS link-->
        <script src="~/js/site.js"></script>
    </body>
