@{
    ViewData["Title"] = "About";
}

<body>

    <!-- MAIN (Center website) -->
    <div class="main">

        <h1>About Us</h1>

        <hr>

        <h2>Team Portfolio</h2>

        <hr />

        <!-- Group 8 team portfolio -->
        <div class="teamInfo">
            <div class="column">
                <div class="content">
                    <img src="~/img/imps.jpg" alt="Sun" width="400" height="500">
                    <h3>Shaolin Pu</h3>
                    <p>A graduate student in Business Analytics and Information Systems. My interest is in data mining and building data-driven systems to solve business problems. I contributed in building the database models, layout, color schemes, and javascript for the slideshow.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="~/img/imgv.jpg" alt="Moon" width="400" height="500">
                    <h3>Vinicius De Souza</h3>
                    <p>IT Project Manager / MS Business Analytics and Information Systems (expected Sum ’20). I enjoy leading IT Teams for successful project delivery. I contributed by making the final layout adjustments to this ASP.NET Core web app, and deployed it to Azure APP Service. </p>
                </div
            </div>
            <div class="column">
                <div class="content">
                    <img src="~/img/imgy.jpg" alt="Green" width="400" height="500">
                    <h3>Adeyemi Omisakin</h3>
                    <p>I am Adeyemi Omisakin. I am presently in my masters program in Business Analytics and Information Systems. My interest is in Database Management, BigData, Data Mining, Analytics and Business development. My contribution to this project is in the design of the data structure and sourcing of the data set.  </p>
                </div>
            </div>
        </div>

        <h2>
            GitHub Link to the Project
            <a href="https://github.com/SLPuUSF/GoHiking" style="margin-left:30px"> Group 8 Assignment4_Active cloud site</a>
        </h2>
        <p>

        </p>

      



    </div>

</body>
