@{
    ViewData["Title"] = "About";
}

<body>

    <!-- MAIN (Center website) -->
    <div class="main">

        <h1>About Project</h1>

        <hr>

        <h2>Portfolio</h2>

        <!-- Group 8 team portfolio -->
        <div class="teamInfo">
            <div class="column">
                <div class="content">
                    <img src="img/imps.jpg" alt="Sun" width="440" height="500">
                    <h3>Shaolin Pu</h3>
                    <p>A graduate student in Business Analytics and Information Systems. My interest is in data mining and duilding data-driven system to solve business problem. I contributed in building database models , layout, color schemes and javascript for slidshows.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="img/imgv.jpg" alt="Moon" width="440" height="500">
                    <h3>Vinicius De Souza</h3>
                    <p>IT Project Manager / MS Business Analytics and Information Systems (expected Sum ’20). I enjoy leading IT Teams to successful project delivered, keeping the team focused on what brings the most value to the project while helping remove any roadblocks that could distract the team from their core role. For this assignment, I helped our team decide what dataset we could use and for which purpose. Also, I helped selecting which fields would be important to consider together with some website images and building the dataset summary table.   </p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="img/imgy.jpg" alt="Green" width="440" height="500">
                    <h3>Adeyemi Omisakin</h3>
                    <p>I am Adeyemi Omisakin. and I am presently in my master program in Business analytics and information systems. My interest is in Database management, Bigdata, Data mines and its analytics and Business development. My contribution to this project is in the design of the data structure and sourcing of the data set  </p>
                </div>
            </div>
        </div>

        <h2>
            GitHub Link to the Project
            <a href="https://github.com/SLPuUSF/GoHiking" style="margin-left:30px"> Group 8 Assignment4_Active cloud site</a>
        </h2>
        <p>

        </p>

      



    </div>

</body>